image: Visual Studio 2017
environment:
  DOCKER_TARGET: xylene1980/swcoe
  DOCKER_USER:
    secure: YRWoXCxDX8Pf47nnz69fBA==
  DOCKER_PASSWORD:
    secure: SnxqBv0zlSEt/F8w3HFKUg==
install:
  - docker version
  - echo DOCKER_TARGET is %DOCKER_TARGET%
  - systeminfo    
# branches:
#   only:
#     - master
#     - test
build: false
build_script:
#  - ps: .\Invoke-Build.ps1 -AppVeyor
  - ps: .\Invoke-Appveyor.ps1
